<app-spinner *ngIf="loading$ | async"></app-spinner>

<section fxLayoutAlign="center">
    <mat-card>

        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" name="email" [(ngModel)]="email" required email>
                <mat-error *ngIf="f.submitted && f.controls['email']?.errors?.['required']">
                    Correo electrónico requerido
                </mat-error>
                <mat-error *ngIf="f.submitted && f.controls['email']?.errors?.['email']">
                    Formato de correo inválido
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Nueva contraseña</mat-label>
                <input matInput type="password" name="password" ngModel required minlength="6">
                <mat-error *ngIf="f.submitted && f.controls['password']?.invalid">
                    Contraseña requerida (mínimo 6 caracteres)
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="password" name="confirmPassword" ngModel required #confirmPasswordRef="ngModel">
                <mat-error *ngIf="confirmPasswordRef.errors?.['required']">Confirmación requerida</mat-error>
                <mat-error *ngIf="confirmPasswordRef.errors?.['mismatch']">Las contraseñas no coinciden</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">
                Restablecer contraseña
            </button>

        </form>

    </mat-card>
</section>